@page
@model Examples.Pages.Session.SessionWithFilterModel
@{
    Layout = "_SessionLayout";
    ViewData["Title"] = "Session with Filter";
}

<h1>Hello Session</h1>

<a asp-page="Session" class="btn btn-secondary">Zu Theme-Wechsler</a>