@page
@model Examples.Pages.Razor.TempDataModel
@{
    ViewData["Title"] = "TempData";
}

<h1>TempData</h1>

<form asp-page="/TempData">
    <input asp-for="Pizzaname" placeholder="Name der Pizza" />
    <input asp-for="Amount" type="number" placeholder="Anzahl" />
    <button type="submit">Send</button>
</form>