@page
@{
    ViewData["Title"] = "Blazor";
}

<h1>Blazor</h1>

<component type="typeof(HelloWorld)" render-mode="ServerPrerendered" />
@section Scripts{
    <script src="/_framework/blazor.server.js"></script>
}


